</div>
<div class="footer-padding"></div>
  <div class="footer">

  <!-- Include Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style> 
    .social-icons {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }
    .social-icons li {
      margin-right: 10px;
    }
    .social-icons li:last-child {
      margin-right: 0;
    }
    .social-icons a {
      text-decoration: none;
      color: #333;
      font-size: 24px;
    }
  </style>
</head>
<body>
  <div class="footer">
    <p>Copyright <script>document.write(new Date().getFullYear())</script> &copy; Designed & Developed by 
      <a href="https://github.com/shanibider">Shani Bider</a>. All rights reserved. </p>
    <ul class="social-icons">
      <li>
        <a href="https://github.com/shanibider">
          <i class="fab fa-github"></i> <!-- GitHub Icon -->
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/shani-bider/">
          <i class="fab fa-linkedin"></i> <!-- LinkedIn Icon -->
        </a>
      </li>
    </ul>
  </div>
</body>
</html>
