<%-include("partials/header")%>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h1 class="lg-title"><%= contactTitle %></h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="pt-5 padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                <div class="row">
                    <div class="col-lg-12">
                        <img src="images/contact.jpg" alt="" class="img-fluid w-100">
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <p class="contact mt-5 mb-5 text-center">
                           Let's Connect! I'm thrilled to invite you to connect and explore exciting opportunities together.
                            <br>Whether you're interested in seeking my expertise for building a beautiful website, landing page or e-commerce website,
                            <br>I'm here for you!
                            <br>I'm also open to collaborating on exciting projects, sharing feedback, or just saying hello.
                            <br>Feel free to reach out through the provided contact form with your requirements.
                            I will get back to you as soon as possible.
                            <br>I look forward to hearing from you and exploring the possibilities of working together to create something extraordinary!

                        </p>

                        <h2 class="mb-5">Get In Touch</h2>

                        <form id="contact-form" class="contact-form" action="/contact" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="name">Your Name (required)</label>
                                        <input class="form-control form-control-name" name="name" id="name"
                                            type="text" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Your Email (required)</label>

                                        <input class="form-control form-control-email" name="email" id="email"
                                            type="email" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="inquiryType ">Select Inquiry Type</label>
                                        <select class="form-control form-control-lg" id="inquiry" name="inquiry" required style="height: fit-content;">
                                        
                                            <option value="" disabled selected>Select an Inquiry Type</option>
                                          <option value="websiteOrder">Website Requests</option>
                                          <option value="feedback&thoughts">Feedback & Thoughts</option>
                                          <option value="collaboration">Collaboration Opportunities</option>
                                          <option value="webDevelopmentProject">Content Requests</option>
                                          <option value="technicalSupport">Technical Support</option>
                                          <option value="otherInquiries">Other Inquiries/ Suggestions</option>

                                        </select>
                                      </div>

                                    <div class="form-group">
                                        <label for="message">Your Message</label>
                                        <textarea class="form-control form-control-message" name="message"
                                            id="message" rows="7" required></textarea>
                                    </div>

                                    <button class="btn btn-primary solid blank mt-3" type="submit" >Send Message </button>
                               
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


        </div>
    </div>
</section>

<!-- SweetAlert script for success -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Check if the notification parameter contains "Email sent successfully"
        const successNotification = '<%= notification %>';
        if (successNotification && successNotification.includes("Email sent successfully")) {
            Swal.fire({
                title: 'Thanks for your message!',
                text: successNotification,
                icon: 'success',
                showConfirmButton: false,
                timer: 4000,
            });
        }
    });

</script>
<%-include("partials/footer")%>